<!DOCTYPE html>
<html>
<head>
    <title>Welcome to _Chat</title>
    <% include parts/imports_base.ejs %>
    <link rel="stylesheet" href="assets/css/welcome.css"/>
</head>
<div id="welcome-container">
    <p id="welcome-message">Welcome to _Chat</p>
    <form action="/api/users" method="post">
        <p id="welcome-note"><%= note %></p>
        <div id="welcome-input-container">
            <label><input type="text" name="username" id="input-username">Username</label>
        </div>
        <button type="submit">Continue</button>
    </form>
</div>
</html>