#nav-site-name {
  font-size: 2em; }

#nav-container {
  max-width: 1000px;
  margin: auto; }

#nav li {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 1%; }
  #nav li a {
    display: block;
    padding: 0 40px;
    line-height: 60px;
    text-decoration: none;
    color: black; }

#nav .nav-element.active a {
  color: #D84315; }

@-webkit-keyframes keyframe-update-chatroom {
  0% {
    opacity: 0;
    background-color: #FFFFFF; }
  50% {
    opacity: 1;
    background: #FF5722; }
  100% {
    background-color: #FFFFFF; } }

@-moz-keyframes keyframe-update-chatroom {
  0% {
    opacity: 0;
    background-color: #FFFFFF; }
  50% {
    opacity: 1;
    background: #FF5722; }
  100% {
    background-color: #FFFFFF; } }

@-o-keyframes keyframe-update-chatroom {
  0% {
    opacity: 0;
    background-color: #FFFFFF; }
  50% {
    opacity: 1;
    background: #FF5722; }
  100% {
    background-color: #FFFFFF; } }

@keyframes keyframe-update-chatroom {
  0% {
    opacity: 0;
    background-color: #FFFFFF; }
  50% {
    opacity: 1;
    background: #FF5722; }
  100% {
    background-color: #FFFFFF; } }

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 0; }

body {
  font-size: 16px; }

input {
  -webkit-transition: background linear 1s;
  -moz-transition: background linear 1s;
  transition: background linear 1s;
  -webkit-transition: border linear 0.5s;
  -moz-transition: border linear 0.5s;
  transition: border linear 0.5s;
  border: none;
  padding: .1em .2em;
  background: #F5F5F5;
  border-bottom: rgba(0, 0, 0, 0.54) solid 1px; }

input:disabled {
  background: #FAFAFA;
  border-bottom: rgba(0, 0, 0, 0.54) solid 1px; }

input:focus {
  background: #FAFAFA;
  border-bottom: rgba(0, 0, 0, 0.38) solid 1px;
  border-bottom: #FF5722 solid 1px;
  outline: none; }

button {
  -webkit-transition: background linear 0.5s;
  -moz-transition: background linear 0.5s;
  transition: background linear 0.5s;
  cursor: pointer;
  border: none;
  background: #FF5722;
  min-height: 32px;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 3px;
  min-width: 75px;
  font-size: .8em; }

button:hover {
  background: #D84315; }

button:disabled {
  background: rgba(0, 0, 0, 0.38); }

.default-list {
  list-style: none; }

.default-list-item {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  padding: .4em;
  overflow: hidden;
  height: 50%;
  border-left: solid 4px transparent;
  background: #F5F5F5;
  border-bottom: rgba(0, 0, 0, 0.38) solid 1px;
  border-collapse: collapse; }

.default-list-item:first-child {
  border-top: rgba(0, 0, 0, 0.38) solid 1px; }

.default-list-item.selectable:hover {
  background: #FAFAFA;
  cursor: pointer; }

.default-list-item.selectable.active {
  border-left: solid 4px #FF5722;
  background: #FFFFFF; }

.primary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87); }

.secondary-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.54); }

/*# sourceMappingURL=style.css.map */