#container-chatrooms {
  float: left;
  background: #f0f0f0;
  width: 30%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-y: scroll;
  height: 100%; }

#container-chatrooms::-webkit-scrollbar {
  display: none; }

#container-chat {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%; }

#container-messages {
  overflow-y: scroll;
  flex: 1; }

#messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%; }

#container-chat-controls > form {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .8em 1em;
  border-top: 1px #838383 solid; }

#button-send-invitation {
  width: 100%;
  margin: 0; }

.button-list-item {
  width: 100%;
  padding: 24px 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  border-bottom: rgba(0, 0, 0, 0.38) solid 1px; }

.default-list-item.selectable.chatroom-item {
  border-left: solid 4px transparent;
  background: #F5F5F5; }

.default-list-item.selectable.chatroom-item:hover {
  background: #FAFAFA; }

.default-list-item.selectable.chatroom-item.active {
  border-left: solid 4px #FF5722;
  background: #FFFFFF; }

.users-list {
  max-height: 500px;
  overflow-y: scroll; }

.message-wrapper {
  display: flex;
  flex-direction: row;
  padding: .5em 1em; }

.message-wrapper:hover {
  background: #F5F5F5; }

.message-wrapper.own {
  flex-direction: row-reverse;
  text-align: right; }

.message-wrapper.other {
  text-align: left; }

.message {
  display: inline-block;
  vertical-align: text-bottom;
  padding: .5em 1em;
  min-height: 1em;
  border-radius: .2em; }

.message-wrapper.ng-enter, .message.ng-move {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  transition: all linear 1s;
  opacity: 0; }

.message-wrapper.ng-enter-active, .message.ng-move-active {
  opacity: 1; }

.message-text {
  display: block; }

.message-meta-wrapper {
  position: relative;
  flex: 1;
  margin: 0 6px;
  min-height: 100%; }

.message-meta {
  position: absolute;
  width: 100%;
  text-align: left;
  right: 0;
  bottom: 0;
  vertical-align: bottom; }

.message-meta.own {
  text-align: right; }

.message.own {
  background: #e0e0e0; }

.message.other {
  background: #a2c6fd; }

#input-message {
  flex-grow: 1;
  padding: .5em;
  font-size: 1em;
  vertical-align: text-top;
  margin-right: 2%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.user-dialog-element {
  overflow: hidden; }

.user-id-wrapper {
  padding: .8em; }

.user-id-wrapper > * {
  display: block;
  font-size: .8em;
  width: 100%;
  text-align: center; }

.user-id {
  color: #D84315; }

.popup-overlay {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.28); }

.popup-container {
  z-index: 10000;
  position: fixed;
  background: white;
  max-height: 80%;
  margin: 1em;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.popup-container-wrapper, .popup-container-wrapper > * {
  -webkit-transition: opacity linear 0.5s forwards;
  -moz-transition: opacity linear 0.5s forwards;
  transition: opacity linear 0.5s forwards;
  opacity: 0;
  overflow: hidden;
  height: 0; }

.popup-container-wrapper, .popup-container-wrapper.active > * {
  opacity: 1;
  height: auto; }

.popup-content {
  display: block;
  position: relative;
  max-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.new-chatroom-dialog-controls {
  background: #FFFFFF;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.75);
  padding: 10px;
  text-align: right; }

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0; }

#app {
  min-width: 650px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #E0E0E0;
  top: 0;
  left: 0; }

#content-box-wrapper {
  display: flex;
  flex-direction: column;
  padding: 18px 0;
  width: 100%;
  overflow: hidden;
  flex: 1; }

#content-box {
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  flex: 1;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

#content {
  top: 0;
  left: 0;
  height: 100%; }

/*# sourceMappingURL=app.css.map */