@mixin all-transform($function)
  -ms-transform: $function
  -webkit-transform: $function
  transform: $function

@mixin box-sizing($parameter...)
  box-sizing: $parameter
  -moz-box-sizing: $parameter
  -webkit-box-sizing: $parameter

@mixin box-shadow($params...)
  -webkit-box-shadow: $params
  -moz-box-shadow: $params
  box-shadow: $params

@mixin display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin flex-direction($params...)
  -webkit-flex-direction: $params
  flex-direction: $params

@mixin flex-grow($params...)
  -webkit-flex-grow: $params
  flex-grow: $params

@mixin flex($params...)
  -webkit-flex: $params
  flex: $params

@mixin animation($params...)
  -webkit-animation: $params
  -moz-animation: $params
  animation: $params

@mixin transition($params...)
  -webkit-transition: $params
  -moz-transition: $params
  transition: $params

@mixin keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content

  @-moz-keyframes #{$animation-name}
    @content

  @-o-keyframes #{$animation-name}
    @content

  @keyframes #{$animation-name}
    @content
